<h1>du lieu tu Controller gui ve la: @ViewBag.infoPerson</h1>
<form asp-action="Index">
    <label>Nhap PersonID:</label>
    <input type="text" name="PersonId">
    <label>Nhap ho ten:</label>
    <input type="text" name="FullName">
    <label>Nhap dia chi:</label>
    <input type="text" name="Address">
    <input type="submit" value="gui du lieu">
</form>